{% if app.security.isGranted('ROLE_ADMIN') %}
	<div class="menu">
		<a class="menu-button" href="{{ path('admin_logout') }}">Выход</a>
		<a class="menu-button" href="{{ path('card_main') }}">Главная</a>
	</div>
{% endif %}