<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'ShopBonusCardBundle::cssjs.html.twig' %}
    </head>

    <body>
        <div class="wrapper">
            <!-- FOOTER -->
            <header class="page-header">
                {% include "ShopBonusCardBundle::header.html.twig" %}
            </header><!--/.page-header-->
            <!-- /FOOTER -->

            <!-- CONTENT -->
            <section class="content admin">
                <h1>{% block pagetitle %}{% endblock %}</h1>
                <div class="inner">
                    {% block content %}{% endblock %}
                </div><!--/.inner-->
            </section><!--/.content-->
            <!-- /CONTENT -->

            <!-- FOOTER -->
            <footer class="page-footer">
                {% include "ShopBonusCardBundle::footer.html.twig" %}
            </footer><!--/.page-footer-->
            <!-- /FOOTER -->
        </div><!--/.wrapper-->
    </body>
</html>