* {
	padding: 0px;
	margin: 0px;
}

header, footer, section, article {
	display: block;
}

header.page-header {
	padding: 20px 50px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background: rgb(233,246,253); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(233,246,253,1) 0%, rgba(211,238,251,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(233,246,253,1)), color-stop(100%,rgba(211,238,251,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(233,246,253,1) 0%,rgba(211,238,251,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9f6fd', endColorstr='#d3eefb',GradientType=0 ); /* IE6-9 */
}

header.page-header .menu a.menu-button {
	display: inline-block;
	margin-right: 10px;
	padding: 8px 16px;
	border-radius: 5px;
	background: rgb(109,179,242); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(109,179,242,1) 0%, rgba(84,163,238,1) 50%, rgba(54,144,240,1) 51%, rgba(30,105,222,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(109,179,242,1)), color-stop(50%,rgba(84,163,238,1)), color-stop(51%,rgba(54,144,240,1)), color-stop(100%,rgba(30,105,222,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(109,179,242,1) 0%,rgba(84,163,238,1) 50%,rgba(54,144,240,1) 51%,rgba(30,105,222,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */
	color: #333;
	text-decoration: none;
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	text-transform: uppercase;
}

section.content.admin {
	padding: 20px 50px;
}

section.content h1 {
	margin-bottom: 20px;
	display: block;
	padding-bottom: 5px;
	border-bottom: 1px dashed #999;
	font-size: 16px;
}

section.content.admin ul li {
	margin-left: 20px;
}

#makecardsform > div {
	margin-bottom: 10px;
}

#makecardsform > div > ul > li {
	font-style: italic;
	color: red;
	list-style: none;
	font-size: 12px;
	margin-left: 0px;
}

#makecardsform textarea,
#makecardsform input,
#makecardsform select {
	display: block;
	width: 200px;
	padding: 3px;
	border: 1px solid #999;
	border-radius: 3px;
}

#makecardsform input[type="radio"] {
	width: 12px;
	height: 12px;
	border-radius: 5px;
	display: inline-block;
}

#makecardsform input[type="radio"] + label {
	margin-right: 10px;
	display: inline-block;
}

#makecardsform input[type="submit"],
#makecardsform button {
	background: rgb(157,213,58); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 0 2px rgba(0,0,0,0.5);
	padding: 5px 10px;
	display: block;
	border-radius: 5px;
	border: 1px solid #999;
	margin-top: 20px;
}

#makecardsform label[for="makecardsform_series"] + span {
	position: relative;
}

#makecardsform_series_btn {
	position: absolute;
	top: -23px;
	left: 185px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.firefox #makecardsform_series_btn {
	top: -20px;
	left: 142px;
}

.msie #makecardsform_series_btn {
	top: 17px;
	left: 142px;
}

#makecardsform_series_btn:after {
	content: '';
	position: absolute;
	top: 12px;
	left: 8px;
	border: 3px solid transparent;
	border-top-color: black;
	-moz-transform: scaleY(2); /* Для Firefox */
    -ms-transform: scaleY(2); /* Для IE */
    -webkit-transform: scaleY(2); /* Для Safari, Chrome, iOS */
    -o-transform: scaleY(2); /* Для Opera */
	transform: scaleY(2);
}

#makecardsform_series_list {
	position: absolute;
	width: 206px;
	background-color: white;
	border: 1px solid #999;
	border-radius: 0 0 3px 3px;
	max-height: 300px;
	overflow: auto;
}

#makecardsform_series_list > div > ul > li {
	list-style: none;
	margin-left: 0px;
	display: block;
	/*border-bottom: 1px solid #999;*/
	cursor: pointer;
	padding: 3px 6px;
	font-size: 12px;
}

#makecardsform_series_list > div > ul > li:hover {
	background-color: #1e90ff;
	color: white;
}

a.card-btn .spinner-container {
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
}